meta(charset='UTF-8')
meta(name='description', content=metaTagDescription)
meta(name='keywords', content=metaTagKeywords)
meta(name='author', content=metaTagAuthor)
meta(name='viewport', content='width=device-width,initial-scale=1')
link(rel='stylesheet', href='../static/css/main.styl')
link(rel='shortcut icon', href='../static/favicon.ico', type='image/x-icon')
link(rel='icon', href='../static/favicon.ico', type='image/x-icon')
