mixin item(title,file,input)
    if title === input
        a.hover-black.f7.flex-auto-l.bb.link.white.bw2(title=title, href=file)= title
    else
        a.hover-black.f7.flex-auto-l.bb.link.white-90(title=title, href=file)= title

mixin nav(input)
    nav.w-100.fl.cf.bg-dark-pink.pv1
        .w-100.fl.flex-auto-l.cf.flex-l.tracked.items-start
            +item('Prologue', 'prologue.html', input)
            +item('Landing', 'landing.html', input)
            +item('Activate', 'activate.html', input)
            +item('ActivateCode', 'activatecode.html', input)
            +item('Home', 'home.html', input)
            +item('Shows', 'shows.html', input)
            +item('My Videos', 'my-videos.html', input)
            +item('Donate', 'donate.html', input)
            +item('Search', 'search.html', input)
            +item('PrivacyPolicy', 'privacypolicy.html', input)
            +item('Terms of Service', 'terms-of-service.html', input)
            +item('Closed Caption Support', 'closed-caption-support.html', input)
            +item('VideoDetails', 'videodetails.html', input)
            +item('VideoPlayback', 'videoplayback.html', input)
            +item('ShowDetails', 'showdetails.html', input)
            +item('ChangeStation', 'changestation.html', input)
            +item('PassportUpsell', 'passportupsell.html', input)
            +item('Logout', 'logout.html', input)
            +item('Settings', 'settings.html', input)
            +item('Index', 'index.html', input)
            +item('VideoTest', 'videotest.html', input)
            +item('SliderTest', 'slidertest.html', input)