//- mixin item(title,input)
//-     if title === input
//-         li.pt3.underline= title
//-     else
//-         li.pt3= title

//- mixin sidebar(input)
//-     aside.aside
//-         ul.sidebarlist.list
//-             +item('Home',input)
//-             +item('Shows',input)
//-             +item('My Videos',input)
//-             +item('Donate',input)
//-         hr.ml4.mr1
//-         ul.sidebarlist.list
//-             +item('Search',input)
//-             +item('Settings',input)
//-             +item('Debug',input)

mixin logo(input)
    .pl5.pt4.dt
        .w3.v-mid
            object(data="svg/logo-without-text.svg", type="image/svg+xml")
        img.ml4.w4.v-mid(src="https://image.pbs.org/stations/weta-white-logo-JQgQDpP.png", alt="", srcset="")
    .fl.w-20.pt3.pl5.pr3.f3
        include sidebar.pug
        +sidebar(input)