mixin item(title,input)
    if title === input
        .pt3.underline= title
    else
        .pt3= title

mixin sidebar(input)
    .list
        +item('Home',input)
        +item('Shows',input)
        +item('My Videos',input)
        +item('Donate',input)
    hr
    .list
        +item('Search',input)
        +item('Settings',input)
        +item('Debug',input)