mixin item(title,svgFile,input)
    if title === input
        .pv4.pl3.pr3.b--theme-teal.br.bw3(style="margin-right: -6px;")
            img.w3.v-mid.di.svg.sidebarIconDimensions(src="svg/"+svgFile+".svg", alt="", srcset="")
    else
        .pv4.pl3.pr3
            img.w3.v-mid.di.svg.sidebarIconDimensions(src="svg/"+svgFile+".svg", alt="", srcset="")

mixin sidebarclosed(input)
    .fixed.f3.forcer-y.dt.br.b--white-20.bw3.z-3
        .dtc.v-mid
            +item('Home','home',input)
            +item('Shows','layers',input)
            +item('Search','search',input)
            +item('My List','check',input)
            +item('My Station','map-pin',input)
            +item('Trisha','user',input)