mixin item(title,svgFile,input)
    if title === input
        .pv4.pl4.b--theme-teal.br.bw3(style="margin-right: -6px;")
            img.w3.v-mid.di.svg.sidebarIconDimensions(src="svg/"+svgFile+".svg", alt="", srcset="")
            .b.di.pl5.v-mid= title
            //- .di.mw3.bg-red.h-100.dtc
    else
        .pv4.pl4.pr5
            img.w3.v-mid.di.svg.sidebarIconDimensions(src="svg/"+svgFile+".svg", alt="", srcset="")
            .di.v-mid.pl5.white-80= title

mixin sidebaropen(input)
    .fixed.theme-bg-pbs-blue.f32.forcer-y.dt.br.b--white-20.bw3.sidebarOpenDimensions
        .dtc.v-mid
            +item('Home','home',input)
            +item('Shows','layers',input)
            +item('Search','search',input)
            +item('My List','check',input)
            +item('My Station','map-pin',input)
            +item('Trisha','user',input)