@import tachyons
@import tachyons-svg
@import variables

@font-face
    font-family 'PBSSans'
    // src: url('../fonts/PBSSans.eot')
    // src: local('../fonts/PBSSans')
    // src: url('../fonts/PBSSans.svg#PBSSans') format('svg')
    // src: url('../fonts/PBSSans.otf') format('opentype')
    src url('../fonts/PBSSans.woff2') format('woff2')

html
    font-family 'PBSSans', sans-serif

.font-pbs
    font-family 'PBSSans', sans-serif

.theme-splash-blue
    color theme-splash-blue

.theme-button-active-blue
    color theme-button-active-blue

.theme-dark-blue
    color theme-dark-blue

.theme-dark-gray
    color theme-dark-gray

.theme-light-gray
    color theme-light-gray

.theme-video-details-subnav-extras-title-white
    color theme-video-details-subnav-extras-title-white

.theme-button-blue
    color theme-button-blue

.theme-pbs-blue
    color theme-pbs-blue

.theme-link-blue
    color theme-link-blue

.theme-bg-splash-blue
    background-color theme-splash-blue

.theme-bg-coral
    background-color theme-coral

.theme-bg-button-active-blue
    background-color theme-button-active-blue

.theme-bg-dark-blue
    background-color theme-dark-blue

.theme-bg-button-blue
    background-color theme-button-blue

.theme-bg-button-watch-blue
    background-color theme-button-watch-blue

.theme-bg-button-category-blue
    background-color theme-button-category-blue

.theme-bg-featured-blue
    background-color theme-bg-featured-blue

.theme-video-show-gray
    color theme-video-show-gray

.theme-video-label-gray
    color theme-video-label-gray

.f23
    font-size 23px

.f26
    font-size 26px

.f27
    font-size 27px

.f28
    font-size 28px

.f30
    font-size 30px

.f32
    font-size 32px

.f36
    font-size 36px

.f42
    font-size 42px

.f48
    font-size 48px

.f50
    font-size 50px

.f54
    font-size 54px

.f64
    font-size 64px

.f70
    font-size 70px

.f120
    font-size 120px

.lh127
    line-height 1.27

.lh133
    line-height 1.33

.lh143
    line-height 1.43

.lh154
    line-height 1.54

.lh219
    line-height 2.19

.teal
    color theme-teal

.b--theme-teal
    border-color theme-teal

.br8
    border-radius 8px

.theme-bg-pbs-blue
    background-color theme-pbs-blue

.ga-background
    background-color theme-dark-blue

.activation-background
    background url('../img/activation-background.png')


.pbs-sans
    font-family 'PBS Sans', sans-serif

.wrapper1
    position absolute
    white-space nowrap

.hero-circle-clip
    clip-path circle(100% at 86% 50%)
    width 1130px
    left 790px
    height 765px

.activation-circle-clip
    clip-path circle(98% at 0% 50%)
    width 1032px
    // left: 790px
    height 1080px

.sidebarOpenDimensions
    width 381px

.sidebarIconDimensions
    width 30px
    height 30px

.heroImageDimensions
    width 263px
    height 154px

.carouselVideoItemDimensions
    width 500px
    height 281px

.carouselShowItemDimensions
    width 300px
    height 450px

.showPageShowItemDimensions
    width 300px
    height 450px

.featuredHeroDimensions
    width 800px
    height 450px


.activationButtonWidth
    width 480px


.searchButtonGridWidth
    width 674px

.searchButtonWidth
    width 95px

.mainViewLeftPadding
    padding-left 142px

.pt10
    padding-top 10px

.pt340
    padding-top 340px

.pb10
    padding-bottom 10px

.pl10
    padding-left 10px

.pr10
    padding-right 10px

.pv10
    padding-top 10px
    padding-bottom 10px

.ph10
    padding-left 10px
    padding-right 10px

.pt20
    padding-top 20px

.pb20
    padding-bottom 20px

.pl20
    padding-left 20px

.pr20
    padding-right 20px

.pv20
    padding-top 20px
    padding-bottom 20px

.ph20
    padding-left 20px
    padding-right 20px

.pt15
    padding-top 15px

.pl142
    padding-left 142px

.pl50
    padding-left 50px

.ml50
    margin-left 50px

.pr50
    padding-right 50px

.mr50
    margin-right 50px

.mb61
    margin-bottom 61px

.videoDetailsHeroImageDimensions
    height 620px
    width 1063px

.videoDetailsPlayHolder
    position relative
    top 18px

.videoDetailsPlusHolder
    position relative
    top 14px

.videoDetailsProgressBar
    position relative
    top 585px
    left 49px
    width 976px
    height 10px

.videoDetailsSubNavExtrasPlusDimensions
    height 50px
    width 65px


.h63
    height 63px
.h76
    height 76px

.h50
    height 50px

.w200
    width 200px

.w50
    width 50px


.w300
    width 300px

.bw3p
    border-width 3px

.videoDetailsButtonSecondaryDimensions
    height 91px
    width 146px

.videoDetailsHeroButtonIconDimensions
    height 40px
    width 30px

.videoDetailsSubNavExtrasRowDimensions
    height 338px
    width 1346px

.videoDetailsSubNavExtrasImageDimensions
    height 337px
    width 600px

.videoDetailsDescriptionWidth
    width 551px

.videoDetailsSubNavLeftPadding
    padding-left 329px

.videoDetailsSubNavExtrasLeftPadding
    padding-left 304px

.activationOffset
    top 258px
    left 112px

.stationLogoContainer
    height 130px
    width 560px
    position absolute
    bottom -14px
    right 10px
    z-index 2
.stationLogoBackground
    background: rgb(0,6,36);
    background linear-gradient(319deg, rgba(0,6,36,1) 0%, rgba(0,6,36,0.0.81) 33%, rgba(0,6,36,0.47) 70%, rgba(0,6,36,0) 100%)
    width 150%
    height 150%
    position absolute
    top -10px
    left -10px
.stationLogoImage
    position relative
    z-index 3


.logoStation
    position relative
    top -15px

.top-50
    top 50%

.top500
    top 500px

.top780
    top 780px

.top5
    top 5px

.left-50
    left 50%

.mr-6
    margin-right -6px

.mt340
    margin-top 340px

.forcer
    width width
    height height

.forcer-y
    height height

.forcer-max
    max-width width
    max-height height

.customPadding4
    padding 5px

.settingsCardActive
    transform scale(1.1)
    transition transform 0.25s ease-in

.settingsCard
    transform scale(1)
    transition transform 0.25s ease-in

.sidebarItem
    transform scale(1)
    transition transform 0.25s ease-in

.sidebarSelectedItem
    list-style-type disc
    transform scale(1.1)
    transition transform 0.25s ease-in

.videoOverlayUiTransition
    opacity 0
    transition-property opacity
    transition-duration 4s

.transition1
    transition transform 0.25s ease-out;

.wct
    will-change transform
