red-gradient-light =  rgb(195, 0, 23)
red-gradient-dark =  rgb(100, 0, 23)

my-red =  #c30017

width =  1920px
height =  1080px

theme-splash-blue =  #2638C4
theme-button-active-blue =  #283ec1
theme-dark-blue =  #000624
theme-button-blue =  #12248a
theme-pbs-blue =  #2638C4
theme-button-watch-blue =  #2736C3
theme-button-category-blue =  #0F1E8C
theme-bg-featured-blue =  #040C41
theme-link-blue =  #2b92ff
theme-light-gray =  #e0e0e0
theme-dark-gray =  #b3b3b3
theme-video-show-gray =  #B2B3B4
theme-video-label-gray =  #E0E1E1
theme-video-details-subnav-extras-title-white =  #fefffe
theme-coral =  #fe704e
theme-teal =  #48D3CD


