doctype html
html(lang='en')
    head
        include partials/header.pug
        title Landing
    body.white-80
        include partials/navbar.pug
        +nav("Activate")
        section
            .activation-background.cover.fl.w-100.forcer.overflow-hidden
                .fl.w-100.pl4.pt6
                    img.h3(src='svg/logo.svg', alt='')
                    h1 Watch PBS anytime, anywhere
                    p.f3
                        | Discover full-length episodes and archived seasons. 
                        br
                        |             Access your personalized watchlist and favorite shows. 
                        br
                        |             Connect with your local PBS station.
                    button.bn.b.tracked.f3.pv3.ph4.pointer.white.theme-bg-blue
                        | Activate Now


