doctype html
html(lang='en')
    head
        include partials/header.pug
        title ActivateCode
    body.white-80
        include partials/navbar.pug
        +nav("ActivateCode")
        .ga-background.cover.fl.w-100.forcer.overflow-hidden
            .mw7.f2.pt5.center
                p 1. From a mobile device or computer, visit:
                p.theme-blue.tc www.pbs.org/activate
                p 2. Enter code:
                p.tracked.f1.tc= activationCode
                p.pt3
                | Once you’re activated, this screen automatically updates. This may take up to 30 seconds.

