doctype html
html(lang='en')
  head
    include partials/header.pug
    title Home2
  body.white.font-pbs
    .theme-bg-dark-blue.forcer.overflow-x-hidden
      .z-5.relative
        include partials/sidebarclosed.pug
        +sidebarclosed("Home")
      .relative
        .bg-gray.hero-circle-clip.z-1.absolute
      .fl.w-100.pl6.z-2.relative
        .pt6.pl3
          .ttu.f26.light-gray.mb3 From MasterPiece
          .f1.b.f64.mb3 Victoria
          .lh133.f30.w-30.mb4
            span S3 Ep1
            span.mh2 |
            span.b Uneasy Lies the Head that Wears the Crown
          .mb6.f30
            button.br-pill.bn.theme-bg-button-watch-blue.white.pt3.pb3.ph4.mr4
              img.mr3.di.v-mid.fill-white.svg.mw3(src="svg/play.svg", alt="", srcset="")
              .di.b Watch
            button.ba.br-pill.bg-transparent.b.bw1.b--white.white.pv3.ph4= "+ My List"
          .mt4
            - for(let i = 0; i<4; i++)
              .dib.heroImageDimensions.ba.bw1.bg-gray.mr2
      .fl.w-100.pl6.pt4.mt4
        .mv3.w-100.fl.f26
          .dib.mr3.light-gray Browse Shows:
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 Local
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 Drama
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 History
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 Food
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 Culture
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 News and Public Affairs
          button.bn.white.pv3.ph4.b.theme-bg-button-category-blue.mh3.br3 Home & How-To
        .mt4.w-100.fl
          .f32.b.mb3 Continue Watching for Trisha
          .f26.nowrap
            - for(let i = 0; i<4; i++)
              .dib
                .carouselVideoItemDimensions.ba.bw1.bg-gray.mr4.mb2
                .light-gray.b.ttu.lh154 Finding Your Roots
                .f30.lh133 Grandparents and Other Strangers
                .light-gray.lh154 S5 Ep1 | 52m
        .mt4.w-100.fl
          .f32.b.mb3 Featured Shows
          .f26.nowrap
            - for(let i = 0; i<5; i++)
              .dib
                .carouselShowItemDimensions.ba.bw1.bg-gray.mr4.mb2
        .mt4.w-100.fl
          .f32.b.mb3 Just Added This Week
          .f26.nowrap
            - for(let i = 0; i<4; i++)
              .dib
                .carouselVideoItemDimensions.ba.bw1.bg-gray.mr4.mb2
                .light-gray.b.ttu.lh154 Nature
                .f30.lh133 Equus "Story of the Horse" | Ep...
                .light-gray.lh154 S37 Ep8 | 53m
        .mt4.w-100.fl
          .f32.b.mb3 Shows from KQED
          .f26.nowrap
            - for(let i = 0; i<5; i++)
              .dib
                .carouselShowItemDimensions.ba.bw1.bg-gray.mr4.mb2
        .mt4.w-100.fl
          .f32.b.mb3 Women's History Month
          .f26.nowrap
            - for(let i = 0; i<4; i++)
              .dib
                .carouselVideoItemDimensions.ba.bw1.bg-gray.mr4.mb2
                .light-gray.b.ttu.lh154 Doc World
                .f30.lh133 ¡Las Sandinistas!
                .light-gray.lh154 S3 Ep6 | 56m
              .mt4.w-100.fl
        .mt4.w-100.fl.pa4.cf.theme-bg-featured-blue
          .w-50.fl.cf
            .featuredHeroDimensions.bg-gray
          .w-50.fl.cf
            .b.f26.ttu Featured
            .b.f70 Summer of Space
            .f28.lh143 For the space enthusiast in you, Summer of Space covers 5 different areas of space exploration, everything from the story of the space race to NASA memorabilia appraisals.
            .mt5.f30
              .dib.br-pill.theme-bg-button-watch-blue.white.pt3.pb3.ph4.mr4
                img.mr3.di.v-mid.fill-white.svg.mw3(src="svg/play.svg", alt="", srcset="")
                .di.b Watch
              .dib.ba.br-pill.b.bw1.b--white.white.pv3.ph4= "+ My List"



  //- script(src='js/svg_injector.js')