doctype html
html(lang='en')
  head
    include partials/header.pug
    title Home
  body.white.font-pbs
    include partials/navbar.pug
      +nav("Index")
    .theme-bg-dark-blue.forcer.overflow-x-hidden
      #app
    //- script(src='js/elm.js')
    //- script(src='js/index.js')
