doctype html
html(lang='en')
    head
        include partials/header.pug
        title Landing
    body.white-80
        include partials/navbar.pug
        +nav("Landing")
        section
            .theme-bg-blue.cover.fl.w-100.forcer.overflow-hidden
                .mw7.center.pl4.pt6
                    img(src='svg/logo.svg', alt='')

