doctype html
html(lang='en')
  head
    include partials/header.pug
    title VideoDetails
  body.white.font-pbs
    .forcer
        .relative
            .absolute.pa5
                .fl.w-50
                    .f1 Asteroid: Doomsday or Payday?
                    .f2 The asteroid that exploded over Siberia—injuring more than 1,000 and damaging buildings in six cities—was a shocking reminder that Earth is a target in a cosmic shooting range. From the width of a football field to the size of a small city, these space rocks have the potential to be killers. In a collision with Earth, they could set off deadly blast waves, raging fires and colossal tidal waves.
                    .f2 Season 40 Episode 24|53m 7s|TV-PG|cc
                .fl.w-50
                    .f1.fr CCButton
                .fl.w-100
                    .relative.top500
                        img.w50.di.v-mid.mr3.fill-white.mw3.svg(src="svg/play.svg", alt="", srcset="")
                        progress#progress-bar(max='1000', value='250').w1690.relative.top5
        video.forcer#media-video(autoplay).bg-black
            source(src='http://urs.pbs.org/redirect/6223b445fccd42d0b74830a3bb87e096/', type='video/mp4')
            //- #media-controls
