doctype html
html(lang='en')
    head
        include partials/header.pug
        title Home
    body.black.bg-washed-yellow
        include partials/navbar.pug
        //- +nav("Prologue")
        .cover.fl.w-100.pa4
            h1 Prologue
            h2 Hey guys, there are three things to check out in this project:
            p.f3.mv5 1. Tachyons re-skin of GA that should be easier to reason about
            p Use the navbar at the top to navigate to different pages.
            p The app should be fixed at 1920x1080, use your browser zoom to scale the app up or down.
            p The app's UI should NOT re-scale as you zoom. That is a defect and should be reported.
            .tc.pt3.f3
                a(href='landing.html') Landing Page
            p.f3.mv5 2. Elm re-implementation of GA
            p Use they Arrow Keys (↑→↓←), Enter, and Backspace to navigate. If the user gets stuck and none of those keys help the user, it is a defect. (Maybe use Escape key to simulate Exit key)
            p I wanted to see how far I can go with just Elm.
            p Not even a proof-of-concept, but that's the goal.
            .tc.pt3.f3
                a(href='index.html') Index Page

            p.f3.mv5 3. Rebrand sandbox/playground thing (Not started)
            //- button.f3.pa3.bg-black.white.br2.b--black Coming Soon


