doctype html
html(lang='en')
  head
    include partials/header.pug
    title Home
  body.white-80
    include partials/navbar.pug
    +nav("Home")
    .ga-background.cover.fl.w-100.forcer.overflow-hidden
      .pl5.pt4.dt
        img.w3.v-mid(src="svg/logo-without-text.svg", alt="", srcset="")
        img.ml4.w4.v-mid(src="https://image.pbs.org/stations/weta-white-logo-JQgQDpP.png", alt="", srcset="")
      .fl.w-20.pt3.pl5.pr3.f3
        include partials/sidebar.pug
        +sidebar("Home")
      .fl.w-80
        div
            p Spotlight
        div
          input.w2.h2(type='radio', name='ratio', value='0')
          |  0
          br
          input.w2.h2(type='radio', name='ratio', value='0.5', checked='')
          |  0.5
          br
          input.w2.h2(type='radio', name='ratio', value='1')
          |  1
          br
          br
        .pa2.h4.w-auto.relative.overflow-x-hidden
          #scrollr.absolute.nowrap
            .child.dib.w4.h3.ba.bw1.b--blue.tc.active 1
            - for(let i = 2; i<101; i++)
              .child.dib.w4.h3.ba.bw1.b--blue.tc= i
        input#slide1.w-100(type='range', min='0', value='0', max='99', step='1')
    script(src='js/move-into-view-unpkg.js')
    script(src='js/codepen.js')
