doctype html
html(lang='en')
  head
    include partials/header.pug
    title Shows
  body.white-80
    include partials/navbar.pug
    +nav("Shows")
    .ga-background.cover.fl.w-100.forcer.overflow-hidden
      .pl5.pt4.dt
        img.w3.v-mid(src="svg/logo-without-text.svg", alt="", srcset="")
        img.ml4.w4.v-mid(src="https://image.pbs.org/stations/weta-white-logo-JQgQDpP.png", alt="", srcset="")
      .fl.w-20.pt3.pl5.pr3.f3
        include partials/sidebar.pug
        +sidebar("Shows")
      .fl.w-80
        - for(let i = 2; i<101; i++)
            .child.dib.w4.h3.ba.bw1.b--blue.tc= i
