doctype html
html(lang='en')
  head
    include partials/header.pug
    title Video Test
    link(href='css/video-js.css', rel='stylesheet')
    //- link(href='css/videojs-bitrate-graph.css', rel='stylesheet')
  body.white-80
    include partials/navbar.pug
    +nav("Video Test")
    .ga-background.cover.fl.w-100.forcer.overflow-hidden
      .pl5.pt4.dt
        img.w3.v-mid(src="svg/logo.svg")
        img.ml4.w4.v-mid(src="https://image.pbs.org/stations/weta-white-logo-JQgQDpP.png", alt="", srcset="")
      .fl.w-20.pt3.pl5.pr3.f3
        include partials/sidebar.pug
        +sidebar("Video Test")
      //- .fl.w-80
      //-   video#my-video.video-js(controls='', preload='auto', width='640', height='264', poster='MY_VIDEO_POSTER.jpg', data-setup='{}')
      //-   source(src='MY_VIDEO.mp4', type='video/mp4')
      //-   source(src='MY_VIDEO.webm', type='video/webm')
      //-   p.vjs-no-js
      //-     | To view this video please enable JavaScript, and consider upgrading to a web browser that
      //-     a(href='https://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
      .fl.w-80
        video-js#vid1.vjs-default-skin(width='600', height='300', controls='')
          source(src='https://ga.video.cdn.pbs.org/videos/victoria/df6e8394-1127-4e98-8169-9082815d45d0/2000079505/hd-16x9-mezzanine-1080p/gvlprc3o_mast4902-16x9-1080p.m3u8', type='application/x-mpegURL')
          //- track(kind='captions', src='https://ga.video.cdn.pbs.org/captions/victoria/df6e8394-1127-4e98-8169-9082815d45d0/captions/GCB5Uv_caption.vtt', srclang='en', label='English')
          track(kind='subtitles', src='https://ga.video.cdn.pbs.org/captions/victoria/df6e8394-1127-4e98-8169-9082815d45d0/captions/GCB5Uv_caption.vtt', srclang='en', label='English')

        //- source(src='https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8', type='application/x-mpegURL')
        //- source(src='https://example.com/index.m3u8', type='application/x-mpegURL')

      //- .fl.w-100
      //-   video#video(src='http://upload.wikimedia.org/wikipedia/commons/7/79/Big_Buck_Bunny_small.ogv', controls='false')
      //-   br
      //-   canvas.w-50#canvas

    //- script(src='js/my-videos.js')
    //- script(src='js/video.js')
    //- script(src='js/svg_injector.js')
    script(src='js/video.js')
    script(src='js/videojs-http-streaming.min.js')
    //- script(src='js/videojs-bitrate-graph.min.js')
    script.
      var player = videojs('vid1');
      player.ready(function(){
        console.log('ready')

      player.play();
      })
      setTimeout(function(){
        console.log(player)
        console.log(player.currentTime(10))
        console.log(player.currentTime())
        console.log(player.bufferedPercent())
        //- console.log(player.buffered())
        //- console.log(player.trackProgress())
      },2000)
      setTimeout(function(){
        //- console.log(player)
        //- console.log(player.currentTime(20))
        console.log(player.currentTime())
        console.log(player.bufferedPercent())
        //- console.log(player.buffered())
        //- console.log(player.trackProgress())
      },3000)
      setTimeout(function(){
        //- console.log(player)
        //- console.log(player.currentTime(1500))
        console.log(player.currentTime())
        console.log(player.bufferedPercent())
        //- console.log(player.buffered())
        //- console.log(player.trackProgress())
      },4000)
      setTimeout(function(){
        //- console.log(player)
        //- console.log(player.currentTime(3000))
        console.log(player.currentTime())
        console.log(player.bufferedPercent())
        //- console.log(player.buffered())
        //- console.log(player.trackProgress())
      },5000)
      //- player.play();

      //- player.bitrateGraph({ bitrates: [4, 8, 3] });
      //- player.bitrateGraph({ bitrates: [1,2,3,4,5,6,7,8] });
      //- player.bitrateGraph();

