doctype html
html(lang='en')
  head
    include partials/header.pug
    title VideoDetails
  body.white.font-pbs
    .theme-bg-dark-blue.forcer.overflow-x-hidden.white
      .z-5.relative
        include partials/sidebarclosed.pug
        +sidebarclosed("Home")
      .fl.w-100.mainViewLeftPadding.z-2.relative
        .fl.w-100.mt6
          .fl.videoDetailsHeroImageDimensions
            img(src="https://image.pbs.org/video-assets/UqfbnOt-asset-mezzanine-16x9-2pRTPxJ.jpg?crop=1063x620", alt="", srcset="")
            progress.videoDetailsProgressBar(min="0", max="10", value="5")
          .fl.videoDetailsDescriptionWidth.ml5
            div
              .ttu.f28.light-gray.mb3.b.lh143 Victoria
              .f48.b.mb3 London Bridge is Falling Down
              .f30.mb4.lh127
                span S3 Ep2
                span.mh2 |
                span.mh2 53m
                span.mh2 |
                span.mh2 Expires: 2/3/19
              .f30.lh127
                p Victoria must decide whether to fight the Chartists or allow them to present their petition.
              .f30.fw5.pt3
                .fl.h63.w300.mr4.bn.theme-bg-button-watch-blue.br-pill.tc
                  .videoDetailsPlayHolder
                    img.di.v-mid.mr3.fill-white.mw3.svg(src="svg/play.svg", alt="", srcset="")
                    .di Play
                .fl.h63.w200.ba.bg-transparent.br-pill.tc.bw3p
                  .videoDetailsPlusHolder
                    img.di.v-mid.mr3.fill-white.mw3.svg(src="svg/plus.svg", alt="", srcset="")
                    .di My List
              .fl.f27.fw5.mt4
                .fl.videoDetailsButtonSecondaryDimensions.tc.mr3.pv3
                  img.di.v-mid.mr3.fill-white.svg.videoDetailsHeroButtonIconDimensions(src="svg/preview.svg", alt="", srcset="")
                  .db Preview
                .fl.videoDetailsButtonSecondaryDimensions.tc.mr3.pv3.ba.br1.b--white
                  img.di.v-mid.mr3.fill-white.svg.videoDetailsHeroButtonIconDimensions(src="svg/star.svg", alt="", srcset="")
                  .db iTunes
                .fl.videoDetailsButtonSecondaryDimensions.tc.mr3.pv3
                  img.di.v-mid.mr3.fill-white.svg.videoDetailsHeroButtonIconDimensions(src="svg/layers.svg", alt="", srcset="")
                  .db Go to Show
        .fl.w-100.f32.fw5.pt5
          .videoDetailsSubNavLeftPadding
            .di.mr5.theme-dark-gray Details
            .di.mr5 Extras For This Episode
            .di.theme-dark-gray More Episodes
        .fl.pt4
          .videoDetailsSubNavExtrasLeftPadding
            .f32.fw5.mb3.theme-video-details-subnav-extras-title-white Previews and Clips From This Episode
            .fl.videoDetailsSubNavExtrasRowDimensions.mb61
              .fl.videoDetailsSubNavExtrasImageDimensions.mr50
                img(src="https://image.pbs.org/video-assets/UqfbnOt-asset-mezzanine-16x9-2pRTPxJ.jpg?crop=600x337", alt="", srcset="")
              .di
                .f36.lh133.b.mb2 Students say college admissions scandal 'degraded' system
                .f28.mb3.lh143.theme-light-gray
                  span S3 Ep2
                  span.mh2 |
                  span.mh2 53m
                  span.mh2 |
                  span.mh2 Expires: 2/3/19
                .f30.lh127
                  p Victoria must decide whether to fight the Chartists or allow them to present their petition.
                .f30.h50.b.fl.tc
                  .fl.bn.bg-white-20.br-pill.videoDetailsSubNavExtrasPlusDimensions
                    img.fill-white.svg(src="svg/watch-latest.svg", alt="", srcset="")
                  .fl.ml3.pt2 My List
            .fl.videoDetailsSubNavExtrasRowDimensions.mb61
              .fl.videoDetailsSubNavExtrasImageDimensions.mr50
                img(src="https://image.pbs.org/video-assets/UqfbnOt-asset-mezzanine-16x9-2pRTPxJ.jpg?crop=600x337", alt="", srcset="")
              .di
                .f36.lh133.b.mb2 Students say college admissions scandal 'degraded' system
                .f28.mb3.lh143.theme-light-gray
                  span S3 Ep2
                  span.mh2 |
                  span.mh2 53m
                  span.mh2 |
                  span.mh2 Expires: 2/3/19
                .f30.lh127
                  p Victoria must decide whether to fight the Chartists or allow them to present their petition.
                .f30.h50.b.fl.tc
                  .fl.bn.bg-white-20.br-pill.videoDetailsSubNavExtrasPlusDimensions
                    img.fill-white.svg(src="svg/watch-latest.svg", alt="", srcset="")
                  .fl.ml3.pt2 My List
            .fl.videoDetailsSubNavExtrasRowDimensions.mb61
              .fl.videoDetailsSubNavExtrasImageDimensions.mr50
                img(src="https://image.pbs.org/video-assets/UqfbnOt-asset-mezzanine-16x9-2pRTPxJ.jpg?crop=600x337", alt="", srcset="")
              .di
                .f36.lh133.b.mb2 Students say college admissions scandal 'degraded' system
                .f28.mb3.lh143.theme-light-gray
                  span S3 Ep2
                  span.mh2 |
                  span.mh2 53m
                  span.mh2 |
                  span.mh2 Expires: 2/3/19
                .f30.lh127
                  p Victoria must decide whether to fight the Chartists or allow them to present their petition.
                .f30.h50.b.fl.tc
                  .fl.bn.bg-white-20.br-pill.videoDetailsSubNavExtrasPlusDimensions
                    img.fill-white.svg(src="svg/watch-latest.svg", alt="", srcset="")
                  .fl.ml3.pt2 My List
